<!DOCTYPE html>
<html lang="en">
<head>
    {{#if title}}
        <title>{{title}}</title>
    {{else}}
        <title>Home</title>
    {{/if}}
</head>
<body>
<h1>Header</h1>
<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        {{#each nav as |n|}}
            <li data-id={{n.name}} class="li"><a href="{{n.path}}">{{n.name}}</a></li>
        {{/each}}
    </ul>
</div>
{{{pageData}}}
{{>footer}}

