<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Tejas Rana">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {{#if title}}
        <title>{{title}}</title>
    {{else}}
        <title>Home</title>
    {{/if}}

    <link href="https://fonts.googleapis.com/css?family=Coiny&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fullwidth">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark self-nav">
        <a class="navbar-brand" href="/">Weather<span style="color:var(--accent-color)">X</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                {{#each nav as |n|}}
                    <li data-id={{n.name}} class="nav-item"><a class="nav-link" href="{{n.path}}">{{n.name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </nav>
</div>



